/* Custom Modern Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
    transition: background 0.3s;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
  